* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins;
  font-size: 20px;
  width: 100%;
  overflow-x: hidden;
}

.section1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0%;
  left: 0%;
  right: 0%;
  padding-right: 15px;
}
.section1 .logo img {
  width: 50%;
}
.section1 .list {
  display: flex;
}
.section1 .list ul {
  gap: 30px;
  padding: 30px;
  display: flex;
  text-decoration: none;
}
.section1 .list ul li {
  list-style: none;
}

.section2 {
  display: flex;
  background-image: url(img/opay/mask-bg.png);
  align-items: center;
  justify-content: center;
}
.section2 .up {
  margin: 30px;
}
.section2 .sam {
  margin: 30px;
}
.section2 .sam .we {
  padding-top: 70px;
}
.section2 .sam .we .head .text {
  color: blue;
  font-weight: 900;
  font-size: 50px;
}
.section2 .sam .we .head .beyond {
  color: aqua;
}
.section2 .vector img {
  width: 30%;
  margin-left: 12rem;
  margin-bottom: 5px;
}
.section2 .opay {
  max-width: 350px;
  color: blue;
  margin: 30px;
  font-size: 23px;
}
.section2 .licensed {
  margin: 30px;
  margin-bottom: 5px;
}
.section2 .download img {
  margin: 30px;
  width: 15%;
}
.section2 .header {
  display: flex;
}

.section3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section3 .maf {
  flex: 6;
  margin: 5rem;
}
.section3 .maf .ban .ss {
  color: rgb(8, 109, 109);
  margin: 20px;
  margin-bottom: 20px;
}
.section3 .maf .aa {
  margin: 20px;
}

.ma {
  flex: 6;
  margin-left: 20rem;
}
.ma .ba .s {
  color: rgb(8, 109, 109);
  margin: 20px;
  margin-bottom: 20px;
}
.ma .ba .a {
  margin: 20px;
}

.section4 .lap .la .ap {
  color: blue;
  padding-left: 5rem;
}

.section5 .key {
  display: flex;
  flex: 6;
  padding: 60px;
  align-items: center;
  justify-content: center;
}
.section5 .key .ey {
  flex: 6;
}
.section5 .fund {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section5 .fund .fun {
  color: blue;
  flex: 6;
  padding-bottom: 6rem;
  font-weight: 900;
  font-size: 40px;
  padding-left: 145px;
}
.section5 .fund .und {
  flex-direction: column;
  color: gray;
  padding-left: 190px;
}

.section6 {
  background-color: azure;
}
.section6 .seven .se {
  text-align: center;
  font-weight: 900;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.section6 .seven .sev {
  margin-left: 25px;
  text-align: center;
  color: gray;
  padding: 25px;
  font-size: 25px;
}
.section6 .seven .sed {
  padding-left: 40px;
}

.section7 {
  padding: 100px;
}
.section7 .six .si {
  color: blue;
  text-align: center;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}
.section7 .six .si .get {
  padding: 30px;
}

.section8 {
  background-color: azure;
}
.section8 .eight {
  display: flex;
}
.section8 .eig .ei {
  color: blue;
  padding-right: 5px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px;
  font-size: 25px;
}

.section9 {
  background-color: azure;
}
.section9 .core .ore {
  margin: 100px;
}
.section9 .core .ore .or {
  color: blue;
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
}
.section9 .core .ore .re {
  color: gray;
  font-size: 30px;
}
.section9 .nine {
  display: flex;
  flex-direction: row;
}
.section9 .nine .nin {
  flex-direction: row;
}
.section9 .nine .ni {
  flex-direction: row;
}
.section9 .nine .n {
  flex-direction: row;
}

.section10 .ten {
  color: blue;
  padding: 5rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  font-size: 25px;
}

.section11 {
  margin-top: -100px;
}
.section11 .section1 {
  display: flex;
}
.section11 .section1 .section {
  flex: 6;
  margin-top: 70px;
}
.section11 .section1 .section .advance {
  margin: 30px;
  flex-direction: column;
  background-color: rgb(196, 176, 176);
  border-radius: 25px;
  margin-bottom: 95px;
  padding: 5px;
}
.section11 .section1 .section .advance .advan {
  margin: 30px;
}
.section11 .section1 .section .advance .your {
  margin: 30px;
}
.section11 .section1 .section .adva {
  flex-direction: column;
  margin: 30px;
  flex-direction: column;
  background-color: rgb(196, 176, 176);
  border-radius: 25px;
  margin-bottom: 200px;
  padding: 5px;
}
.section11 .section1 .section .adva .self {
  margin: 30px;
}
.section11 .section1 .section .adva .are {
  margin: 30px;
}
.section11 .section1 .section .adv {
  display: flex;
}
.section11 .section1 .section .adv .ad {
  flex: 6;
}

.section12 {
  background-color: blue;
  border-radius: 20px;
  margin: 5px;
}
.section12 .sectio2 {
  display: flex;
}
.section12 .sectio2 .secti {
  flex: 6;
  padding: 45px;
}
.section12 .sectio2 .secti .here {
  color: white;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
.section12 .sectio2 .secti .ere {
  color: white;
  margin-top: 55px;
}
.section12 .sectio2 .secti .nom .nomb {
  color: white;
}
.section12 .sectio2 .secti .nom .nombg {
  color: white;
}
.section12 .sectio2 .sectio3 .br {
  padding-bottom: 75px;
  padding-left: 35px;
  padding: 20px;
}

footer {
  background-color: aqua;
  margin-top: 75px;
}
footer .sectionw {
  display: flex;
}
footer .sectionw .sectionn {
  flex: 3;
  padding-top: 75px;
  color: white;
}
footer .sectionw .sectionn ul li a {
  text-decoration: none;
  color: white;
}
footer .sectionw .enter {
  flex: 3;
  padding-top: 75px;
  color: white;
}
footer .sectionw .enter ul {
  list-style: none;
}
footer .sectionw .enter ul li a {
  text-decoration: none;
  color: white;
}
footer .sectionw .ente {
  flex: 3;
  padding-top: 75px;
  color: white;
}
footer .sectionw .ente ul {
  list-style: none;
}
footer .sectionw .ente ul li a {
  text-decoration: none;
  color: white;
}
footer .sectionw .ente {
  flex: 3;
  padding-top: 75px;
  color: white;
}
footer .sectionw .ente ul li a {
  text-decoration: none;
  color: white;
}
footer .sectionw .ent {
  flex: 3;
  padding-top: 75px;
  color: white;
}
footer .sectionw .ent ul li a {
  text-decoration: none;
  color: white;
}/*# sourceMappingURL=thur.css.map */